* {
  box-sizing: border-box;
}

.left {
	overflow :auto;
	float: left;
	width: calc(50% - 10px);
	height: 590px;
	margin: 0px 5px 0px 5px;
	padding: 20px 20px 20px 20px;
	border-radius:5px;
	background-color: white;
}

.right {
	overflow :auto;
	float: right;
	width: calc(50% - 10px);
	height: 590px;
	margin: 0px 5px 0px 5px;
	padding: 20px 20px 20px 20px;
	border-radius:5px;
	background-color: white;
}

@media screen and (max-width: 600px) {
  .column.left, .column.middle {
    width: 100%;
  }
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
	width: 6px;
	background-color: #FFFFFF;
}
 
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 0px;
	background-color: #FFFFFF;
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #D5D5D5;
}

button {
	float: right;
	color: black;
	font-size: 16px;
    width: 80px;
    height: 30px;
	margin: 10px 10px 10px;
    border-radius: 2px;
    background-color: chartreuse;
}

button:hover {
	color: #FFFFFF;
	background-color: blue;
}

button:active {
	color: #FFF8DC;
    background-color: darkblue;
	border: none;
}

.editcontent {
	height: 80%;
	width: 100%;
}

.inputcontent {
	height: 420px;
	width: 100%;
	margin: 5px 0 5px 0;
	font: "微软雅黑";
	font-size: 18px;
	resize:none;
	background-color: #FEFEFE;
	color: black;
}

.editresult {
	height: 20%;
	width: 100%;
}